@model Adverts

@{
    ViewBag.Title = $"Advert {this.Model.Name}";
    Layout = "_Layout";
}

<h3>Advert @this.Model.Name</h3>
<div class="container">
    <div class="row">
        <div class="col">
            Price in rub
        </div>
        <div class="col">
            Price in $
        </div>
        <div class="col">
            Type
        </div>
        <div class="col">
            timestamp
        </div>
    </div>
    <div class="row">
        <div class="col">
            @this.Model.PriceRubText
        </div>
        <div class="col">
            @this.Model.PriceDolText
        </div>
        <div class="col">
            @this.Model.Type
        </div>        
        <div class="col">
            @this.Model.TimeStamp
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.ActionLink("Back to list", "Index")
        </div>
    </div>
</div>